body {
    font-family: Arial, sans-serif;
    background-color: #1c2541;
    margin: 0;
    padding: 0;
}

.logo {
    text-align: center;
    margin-bottom: 15px;
}

.logo img {
    width: 200px;
    height: 200px;
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 36px;
}

h3 {
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.container {
    position: relative;
    width: 760px;
    height: auto;
    margin: 50px auto;
    padding: 50px;
    background-color: #3a506b;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    position: relative;
}
label {
    display: block;
    margin-bottom: -5px;
    color: #fff;
    text-align: left;
}
#firstName, #lastName{
    height: 35px;
    border-radius: 5px;
    padding-left: 5px;
}
.label0{
    position: absolute;
    display: flex;
    margin-top: 15px;
}
.label1{
    display: inline;
    margin-bottom: 10px;
}
#otherFieldInput{
    display: block;
}
.inline-label + select,
.inline-label + input {
    margin-left: 10px;
}
select{
    position: relative;
    margin-top: 12px;
    width: 250px; 
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    margin-left: -300px;
}
.bi-chevron-left{
    text-align: left;
    font-size: 40px;
    color: white;
    margin-left: 20px;
}
.skills-checkboxes {
    display: flex;
    flex-wrap: wrap;
}

.skills-checkboxes label {
    flex: 0 0 calc(50% - 10px); 
    margin-bottom: 10px;
    box-sizing: border-box;
}
.skill-label{
    margin-top: 5px;
    padding-bottom: 10px;
}
button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5px;
    background-color: #5bc0be;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px; 
    font-size: 15px;
    border-radius: 10px; 
    margin-left: 220px;
    width: 200px;
    margin-top: 50px;
    margin-bottom: -20px;
}

button:hover {
    background-color: #1c2541;
}
.alert-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Initially hidden */
    color: #fff;
}
.input-form{
    margin-top: 20px;
}
input[type="password"], input[type="email"]{
    width: 320px;
}
.form-group label{
    margin-top: 10px;
}
.backbtn{
    position: fixed;
    margin-top: 10px;
    color: transparent;
}
.form-row{
    display: grid;
}
.col-md-5{
    grid-row: 1;
    grid-column: 1;
}
.col-md-6{
    grid-column: 2;
}
.col-md-6 label{
    padding-bottom: 5px;
}
.col-md-5 label{
    padding-bottom: 5px;
}
.form-row{
    margin-bottom: 10px;
}
.custom-file-label{
    text-align: center;
    margin-bottom: 20px;
}
.custom-file-input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.profile-pic{
    height: 100px;
    object-fit: cover;
}
.form-control{
    padding-left: 10px;
    border-radius: 8px;
    height: 40px;
    width: 320px;
    border: #fff;
    margin-top: 10px;
}